<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/layout-with-nav.css">
  <link rel="stylesheet" href="/css/waiting-room.css">
  <script src="/socket.io/socket.io.js" defer></script>
  <script type="module" src="/javascript/navigation.js"></script>
  <script type="module" src="/javascript/waitingRoom.js"></script>
  <title>CallUs</title>
</head>

<body>
  <div class="main-container">
    <%- include('./partials/navigation-drawer.ejs'); %>
    <%- include('./partials/navigation.ejs'); %>
    <main class="main-layout">
      <%- include('./layouts/waiting-room.ejs') %>
      <%- include('./components/call-by-cs.ejs')  %> 
    </main>
  </div>
  <%- include('./components/dialog-masuk-dengan-kode.ejs')  %> 
</body>

</html>